@tailwind base;
@tailwind components;
@tailwind utilities;

html::-webkit-scrollbar, body::-webkit-scrollbar {
  display: none;
}
html, body {
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}



@keyframes toast-in {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  60% {
    transform: translateX(-5%);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes toast-out {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(120%);
    opacity: 0;
  }
}

@keyframes scale-in {
  0% {
    transform: scale(0);
  }
  70% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.animate-toast-in {
  animation: toast-in 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}

.animate-toast-out {
  animation: toast-out 0.5s cubic-bezier(0.6, -0.28, 0.735, 0.045) forwards;
}

.scale-in {
  animation: scale-in 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}

.ease-bounce {
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}


@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 210 4% 48%;

    --card: 0 0% 100%;
    --card-foreground: 210 4% 48%;

    --popover: 0 0% 100%;
    --popover-foreground: 210 4% 48%;

    --primary: 204 100% 50%;
    --primary-foreground: 0 0% 100%;

    --secondary: 204 86% 96%;
    --secondary-foreground: 210 4% 48%;

    --muted: 0 0% 96%;
    --muted-foreground: 210 4% 48%;

    --accent: 204 86% 96%;
    --accent-foreground: 210 4% 48%;

    --destructive: 359 100% 70%;
    --destructive-foreground: 0 0% 100%;

    --border: 204 20% 92%;
    --input: 204 20% 92%;
    --ring: 204 100% 50%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
